*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  padding: 15px 45px;
  background-color: rgb(15, 14, 14);
  display: flex;
  justify-content: space-between;


}
#prime{
  color: white;
}


.nav-ul{
  display: flex;
  list-style: none;
  width: 60%;
  align-items: center;justify-content: space-between;
  color: white;



}
.nav-option{
  display: flex;
  list-style: none;
  color:white;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.nav-ul li:hover{
  background-color: white;
  color: black;
  border: 5px;

}
.nav-ul li{
  
  padding: 6px;
  width: 79px;
  border-radius:5px ;


  }
.nav-option{
  
  width: 20%;

}
#prime:hover{
  cursor: pointer;

}
.profile-icon{
  height: 30px;
}
.btn{
  background-color: rgb(36, 162, 236);
  border: none;
  width: 80px;
  border-radius: 5px;
  color: white;
}